* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* cabeçalho */
header {
    display: flex;
    justify-content: center;
    background-color: #E75E77;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.estrela1,
.estrela2 {
    width: 12px;
    height: 12px;
    margin-top: 25px;
}

.estrela1 {
    margin-left: -190px;

}

.estrela2 {
    margin-left: 170px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* fim do cabeçalho */
body {
    
    font-weight: bold;
    color: #ffffff;
    position: relative;
    
    background-image: url(/img/fundohm.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 py-script, .graph-area{
    display: flex;
    align-items: center;
    justify-content: center;
}