* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* cabeçalho */
header {
    display: flex;
    justify-content: center;
    background-color: #E75E77;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    height: auto;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.estrela1,
.estrela2 {
    width: 12px;
    height: 12px;
    margin-top: 25px;
}

.estrela1 {
    margin-left: -190px;

}

.estrela2 {
    margin-left: 170px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* fim do cabeçalho */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.pt1 {
    height: 740px;
    background-image: url(/img/fundo_seupropriojardim.png);
    background-repeat: no-repeat;
    background-position: center -80px;
    /* background-size: cover; */
}

.l1,.l2 {
    text-align: center;
    color: #F9A3BD;
}

.l1 {
    padding-top: 80px;
    font-size: 56px;
    font-weight: 900;
}
.l2{
    font-size: 20px;
    font-weight: 700;
}
.pt2{
    background-color: #FFEEF2;
    height: 620px;
    padding: 46px 103px 46px 103px;
}
.l3, .l4{
font-weight: 700;
text-align: center;

}
.l3{
    font-size: 44px;
    color: black;
}
.aaa{
    color: #7F10B4;
}
.l4{
    font-size: 28px ;
    color: #E54966;
}
.sprout7{
    width: 250px;
    height: auto;
    position: relative;
    top: 100px; 
}
.balao{
    position: relative;
    bottom: 50px;
    right: 50px;
}
.dentrobalao{
    font-size: 23px;
    position: relative;
    color: #BF1D3B;
    left: 290px;
    bottom: 250px;
    white-space: nowrap;
    width: 200px;
}
.desex{
    position: relative;
    width: 400px;
    height: 300px;
    bottom: 120px;
    left: 400px;
}
.tex_dentrobalao{
    position: relative;
    bottom: 10px; 

}
.desext{
    position: relative;
    font-weight: 500;
    color: black;
    font-size: 27px;
    height: 200px;
}
.ata, .li1{
    color: #E54966;
}
.li1{
    font-weight: 800;
}
.des_text{ 
    position: relative;
    left: 430px;
    bottom: 390px;
}
.li2, .li3{ position: relative;
    top: 30px;
}
.li4, .li5{ position: relative;
    top: 60px;
}
.faixinha{ position: relative;
    height: 9px;
    background-color: #E54966;
}
.pt3{
    height: 1000px;
    padding-top: 80px;
    background-image: url(/img/fundo_rosinha.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.b1, .b2{ position: relative;
    text-align: center;
    font-size: 30px;
}
.b1{
    color: #E54966;
    font-weight: 900;
}
.b2{
    z-index: 1;
    bottom: 40px;
}
.i1{
    width: 600px;
    height: auto;
    position: relative;
    left: 360px;
    top: 7px;
}
.local, .sement, .cuid, .acom{ position: relative;
    width: 450px;
    height: auto;
    left: 200px;
}

.local{ position: relative;
    left: 180px;
    
}
.sement{ position: relative;
    left: 680px;
    bottom: 255px;
}
.cuid{ position: relative;
    left: 180px;
    bottom: 270px;
}
.acom{ position: relative;
    left: 680px;
    top: 230px;
}

.pin, .roda, .plancui, .acomcresc{
    width: 25px;
}
.pin{ position: relative;
    right: 230px;
    bottom: 110px;
}
.roda{ position: relative;
    left: 250px;
    bottom: 365px;
}
.plancui{ position: relative;
    right: 250px;
    bottom: 390px;
}
.acomcresc{ position: relative;
    left: 250px;
    top: 110px;
}
.c1, .c2, .d1, .d2, .e1, .e2, .e3, .f1, .f2{ position: relative;
    white-space: nowrap;
    color: #CC1032;
    font-size: 20px;
}
.c1, .c2{ position: relative;
    bottom: 140px;
    left: 250px;
}
.sementt{ position: relative;
    bottom: 70px;
}
.d1, .d2{ position: relative;
    bottom: 390px;
    left: 740px;
}
.e1, .e2, .e3{ position: relative;
    bottom: 430px;
    left: 250px;
}
.locall, .sementt, .cuidd, .acomm{
    height: 0px;
}

.sementt{
    top: 255px;
}
.cuidd{ position: relative;
    top: 500px;
}

.f1, .f2{ position: relative;
    top: 90px;
    left: 750px;
}
.g1, .g11, .g2, .g22,.g3, .g33, .g4, .g44{position: relative;
    white-space: nowrap;
    color: #CC1032;
    font-size: 28px;
    font-weight: 800;
}
.g1, .g11{
    left: 270px;
    bottom: 160px;
}
.g2, .g22{
    left: 750px;
    bottom: 416px;
}
.g3, .g33{
    left: 260px;
    bottom: 440px;
}
.g4, .g44{
    left: 750px;
    top: 60px;
}
.g1, .g11, .g2, .g22,.g3, .g33, .g4, .g44, .c1, .c2, .d1, .d2, .e1, .e2, .e3, .f1, .f2{
    width: 200px;
}
.a2, .imagis{
    height: 700px;
}
.ultima{ position: relative;
    top: 450px; 
    left: 140px;
}
.minilinha{
    height: 7px;
    background-color: #037D3A;
}
.pt4{
    height: 424px;
    background-color: #CCF2BB;
    padding-top: 31px;
}
.p1, .p2, .p3, .p4{ position: relative;
    text-align: center;
}
.p1{
    color: #037D3A;
    font-size: 64px;
}
.p2{
    color: black;
    font-size: 48px;
    top: 20px;
}
.p3, .p4{
    color: black;
    font-size: 36px;
    top: 30px;
}
.s1, .s2{
    color: #037D3A;
}
.prantaa{ position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}
.final{
    height: 203px;
    background-color: #FFEEF2;
}
.butaoo{position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butao{
    width: 700px;
    padding-top: 56px;
    /* padding-bottom: 46px; */
}