<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso Planeta está em perigo!! </title>
    <link rel="stylesheet" href="/public/stylesheet/style_plan_per.css">
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- fim das fontes -->
</head>
<header>
    <a href="../views/index.html">
        <p class="texto">Hope Sprouts</p>
    </a>
    <img src="../img/estrelinha.png" class="estrela1">
    <img src="../img/estrelinha2.png" class="estrela2">
</header>

<body>
    <div class="pt1">
        <img src="/img/fundo_nossoplaneta.png" class="ourplanet">
        <p class="l1">NOSSO PLANETA ESTÁ EM PERIGO!</p>
        <p class="l2">Vamos ver o que está acontecendo no Brasil...</p>
        <div class="resto">
            <div class="text_e_caixa_cima">
                <div class="text_e_caixa1">
                    <p class="desm">DESMATAMENTO NA</p>
                    <div class="dropdown1">
                        <button onclick="hideShow()"><img src="/img/botao_amazonia.png" class="amaz"></button>
                        <div class="dropdown-content" id="dropdown-content">
                            <img src="/img/dd-amaz.png" class="dd-amaz">
                        </div>
                    </div>
                </div>
                <div class="text_e_caixa2">
                    <p class="secs">SECAS NO</p>
                    <div class="dropdown2">
                        <button onclick="hideShow2()"><img src="/img/botao_nordeste.png" class="nord"></button>
                        <div class="dropdown-content2" id="dropdown-content2">
                            <img src="/img/dd-secs.png" class="dd-secs">
                        </div>
                    </div>
                </div>
            </div>
            <img src="/img/mundo_verde_escuro.png" class="mundin">
            <div class="dropdown3">
                <button onclick="hideShow3()"><img src="/img/botao_enxentes.png" class="ench"></button>
                <div class="dropdown-content3" id="dropdown-content3">
                    <img src="/img/dd-ench.png" class="dd-ench">
                </div>
            </div>
        </div>
    </div>
    <div class="pt2">
        <p class="l3">NÓS PODEMOS FAZER ALGO PARA AJUDAR?</p>
        <p class="l4">SIM!</p>
        <img src="/img/fundo_maisfacil.png" class="maisfacil">
        <p class="l5">E É MAIS FÁCIL DO QUE VOCÊ PENSA!</p>
        <p class="l6">VAMOS fazer, passo-a-passo.</p>
        <p class="l7">AI, desculpa! Eu não me apresentei! Que bobo...</p>
        <p class="l8">...</p>
    </div>
    <div class="pt3">
        <img src="/img/sproutinho_grande.png" class="sproutingrande">
        <div class="todos">
            <div class="c1">
                <p class="l9">OI! MEU NOME É <span class="aaa">SPROUTINHO</span>,</p>
                <p class="l10">NÓS PODEMOS SER AMIGOS! </p>
            </div>
            <div class="c2">
                <p class="l11">EU VOU TE ENSINAR A AJUDAR O </p>
                <p class="l12">MUNDO, MESMO COM PEQUENAS </p>
                <p class="l13">AÇÕES...</p>
            </div>
            <div class="c3">
                <p class="l14">Você está pronto...?</p>
            </div>
            <a href="/views/missoes.html"><img src="/img/botao_vamosla.png" class="van_bora_yow_caostrep"></a>
        </div>

    </div>
    <script src="/public/javascript/planetaperigo.js"></script>
</body>
</html>