<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde Estou?</title>
    <link rel="stylesheet" href="/public/stylesheet/style_on_est.css">
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- fim das fontes -->
</head>
<header>
    <a href="../views/index.html"><p class="texto">Hope Sprouts</p></a>
    <img src="../img/estrelinha.png" class="estrela1">
    <img src="../img/estrelinha2.png" class="estrela2">
</header>

<body>
    <div class="elementos">
        <div class="texto_e_sprout">
            <img src="/img/sproutinho2.png" class="sproutin">
            <p class="ola">OLÁ, NÓS SOMOS OS SPROUTS!</p>
        </div>
        <div class="balaoo">
            <img src="/img/balao_pag2.png" class="balao">
            <img src="/img/balao_pag2 - roxo.png" class="fundobalao">
        </div>
        <div class="textins">
            <div class="l1 show"><p class="l11">Qualquer um pode ser um sprout...</p></div>
            <div class="l2"><p class="l22">Ser um sprout é sobre cuidar do planeta em que vivemos</p></div>
            <div class="img_mundo"><img src="/img/mundo_exp.png" class="img_mundoo"></div>
            <div class="l3"><p class="l33">Sim, de TODO o planeta!!!</p></div>
        </div>
    </div>
    <div class="depois">
        <div class="l4"><p class="l44">Eu sei que parece uma tarefa ENORME, mas não tenha medo!</p></div>
        <div class="l5"><p class="l55">Eu vou te guiar!</p></div>
        <div class="l6"><p class="l66">Mas primeiro, eu preciso te dizer algo importante... </p></div>
    </div>
    <div class="botoes">
        <a href="/views/index.html"><img src="/img/botao_voltar.png" class="voltar" id="voltar"></a>
        <img src="/img/botao_proximo.png" class="proximo" id="proximo">
    </div>
    <script src="/public/javascript/ondeestou.js"></script>
</body>

</html>