<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Próprio Jardim</title>
    <link rel="stylesheet" href="/public/stylesheet/style_jardim.css">
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- fim das fontes -->
</head>
<header>
    <li><a href="../views/index.html">
            <p class="texto">Hope Sprouts</p>
        </a></li>
    <img src="../img/estrelinha.png" class="estrela1">
    <img src="../img/estrelinha2.png" class="estrela2">
</header>

<body>
    <div class="pt1">
        <p class="l1">SEU PRÓPRIO JARDIM!</p>
        <p class="l2">E COMO CUIDAR DELE</p>
    </div>
    <div class="pt2">
        <p class="l3">AGORA, ALÉM DE <span class="aaa">SUPERHERÓI...</span></p>
        <p class="l4">VOCÊ SERÁ UM JARDINEIRO!</p>
        <img src="/img/sprout7.png" class="sprout7">
        <img src="/img/balao.png" class="balao">
        <div class="dentrobalao">

            <div class="tex_dentrobalao">
                <p class="linha1">Você pode participar,</p>
                <p class="linha2">mesmo se não</p>
                <p class="linha3">gostar de alface!</p>
            </div>
            <div class="desext">
                <img src="/img/caixinhas_desafioextra.png" class="desex">
                <div class="des_text">
                    <p class="li1">DESAFIO EXTRA!</p>
                    <p class="li2">Decore seu pote ou caixa</p>
                    <p class="li3">com desenhos e adesivos</p>
                    <p class="li4">Faça do seu <span class="ata">jardim</span> um</p>
                    <p class="li5">local único e especial!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="faixinha"></div>
    <div class="pt3">
        <div class="a1">
            <p class="b1">MISSÃO:</p>
            <img src="/img/fundorosa.png" class="i1">
            <p class="b2">CRIE SEU PRÓPRIO JARDINZINHO!</p>
        </div>
        <div class="a2">
            <div class="imagis">
                <div class="locall">
                    <img src="/img/borda_jardim.png" class="local">
                    <img src="/img/simbolo_escolhaolocal.png" class="pin"> 
                    <p class="g1">ESCOLHA O </p>
                    <p class="g11">LOCAL</p>
                    <p class="c1">Encontre um local que receba</p>
                    <p class="c2">bastante luz!</p>
                </div>
                <div class="sementt">
                    <img src="/img/borda_jardim.png" class="sement">
                    <img src="/img/simbolo_escolhasuasplantas.png" class="roda">
                    <p class="g2">ESCOLHA SUAS</p>
                    <p class="g22">PLANTAS</p>
                    <p class="d1">Escolha as sementes de</p>
                    <p class="d2">plantas que você gosta!</p>
                </div>
                <div class="cuidd">
                    <img src="/img/borda_jardim.png" class="cuid">
                    <img src="/img/simbolo_plantinha.png" class="plancui">
                    <p class="g3">PLANTE COM</p>
                    <p class="g33">CUIDADO</p>
                    <p class="e1">Siga as instruções na </p>
                    <p class="e2">embalagem e regue</p>
                    <p class="e3">levemente</p>
                </div>
                <div class="acomm">
                    <img src="/img/borda_jardim.png" class="acom">
                    <img src="/img/simbolo_acompanheocresi.png" class="acomcresc">
                    <p class="g4">ACOMPANHE O</p>
                    <p class="g44">CRESCIMENTO</p>
                    <p class="f1">Veja como ele muda com o </p>
                    <p class="f2">tempo</p>
                </div>
                <img src="/img/sprout_e_balaozin.png" class="ultima">
            </div>
            
        </div>
        
    </div>
    <div class="minilinha"></div>
    <div class="pt4">
        <p class="p1">AH, É</p>
        <p class="p2">CUIDE DO JARDIM!</p>
        <p class="p3">Lembre-se de <span class="s1">regar todos os dias</span> e <span class="s2">remover folhas mortas</span></p>
        <p class="p4">Seu jardim precisa de cuidado diário!</p>
        <div class="prantaa"><img src="/img/platinha_cuidedojardim.png" class="pranta"></div>
    </div>
    <div class="final">
        <div class="butaoo"><a href="/views/missoes.html"><img src="/img/botao_voltarparasmissoes.png" class="butao"></a></div>
    </div>
</body>

</html>