<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Separando o Lixo</title>
    <link rel="stylesheet" href="../public/stylesheet/style_sep_lix.css">
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- fim das fontes -->
</head>
<header>
    <li><a href="index.html">
            <p class="texto">Hope Sprouts</p>
        </a></li>
    <img src="../img/estrelinha.png" class="estrela1">
    <img src="../img/estrelinha2.png" class="estrela2">
</header>
<body>
    <div class="pt1">
        <p class="t1">SEPARANDO O LIXO!</p>
        <p class="t2">E PORQUÊ É ÚTIL</p>
    </div>

    <div class="pt2">
        <img src="/img/estrelinha_verde.png" class="es1">
        <img src="/img/linha_verde.png" class="linhaez">
        <img src="/img/estrelinha_verde.png" class="es2">
        <p class="apr">Aprendendo com o Sproutinho</p>
        <p class="dif">QUAL É A DIFERENÇA ENTRE</p>
        <img src="/img/fundo_materiais.png" class="fundomate">
        <p class="lixO">LIXO ORGÂNICO</p>
        <p class="l1">é o lixo que vem das coisas que eram </p>
        <p class="l2">VIVAS!</p>
        <img src="/img/vegetais.png" class="i1">
        <img src="/img/frutas.png" class="i2">
        <img src="/img/plantas.png" class="i3">
        <img src="/img/sproutinho4.png" class="sprout4">
        <img src="/img/balao_fundoverde.png" class="fundoverde">
        <p class="falabalao">
            <span class="s1">DIQUINHA</span>
            Lixo orgânico pode ser 
            usado para 
            compostagem
        </p>
        <p class="lixNO">LIXO NÃO ORGÂNICO</p>
        <p class="l3">é o lixo que vem das coisas que não </p>
        <p class="l4"><span class="s2">ESTÃO VIVAS!</span> <span class="s3">temos 4  tipos:</span></p>
        <img src="/img/metais.png" class="im1">
        <img src="/img/plastico.png" class="im2">
        <img src="/img/papel.png" class="im3">
        <img src="/img/vidro.png" class="im4">
        
    </div>
    <!-- <div class="div1"></div> -->
    <div class="pt3">
        <p class="aa1">Então... Onde nós colocamos cada um?</p>
        <img src="/img/linha_verde.png" class="grin">
        <img src="/img/sprout_lata.png" class="sproutlata">
        <img src="/img/balaoverde_explatas.png" class="balaverde">
        <p class="dentrobalas">
            <span class="s4">AZUL: é para PAPEL</span>
            <span class="s5">VERMELHO: é para PLÁSTICO</span>
            <span class="s6">AMARELO é para METAL</span>
            <span class="s7">VERDE: é para VIDRO</span>
            <span class="s8">MARROM: é para ORGÂNICOS</span>
        </p>
        <img src="/img/sproutinho6.png" class="sproutbalao">
    </div>

    <div class="div2"></div>

    <div class="pt4">
        <p class="praonde">Para onde vai todo <span class="s9">esse lixo?</span></p>
        <img src="/img/esselixo.png" class="esselixo">
        <img src="/img/linhabranca_ondevailixo.png" class="branca">
        <img src="/img/bandeirinha_brasil.png" class="band">
        <img src="/img/fundos_verdesombra.png" class="fundin">
        <img src="/img/reciclagem_simb.png" class="recicle">
        <p class="b1">
            No Brasil,

            lixo reciclado pode ser 
            depositado em pontos de 
            seleta coletiva, ecopontos, 
            coorporativas de reciclagem, 
            e estações de reciclagem.</p>
        <p class="b2">
            Lixo orgânico

            pode ser enviado para 
            composteiras dométicas ou 
            comunitárias ou programas de 
            compostagem oferecidos pelos 
            municípios. Alguns 
            condomínios e companhias 
            também possuem iniciativas 
            para manejar lixo orgânico.</p>
        
    </div>

    <div class="pt5">
        <p class="y1">E se eu não tiver essas latas de lixo?</p>
        <img src="/img/linha_verde.png" class="verdindin">
        <p class="y2">BOM, FAZER ELAS DO ZERO PODE SER BEM DIVERTIDO!</p>
        <p class="y3">Use quaisquer materiais que você tiver disponível</p>
        <img src="/img/sproutis_6.png" class="sproutlixin">
        <img src="/img/balao_verde2.png" class="ultimobalas">
        <p class="ultimobalas_text">
            A destinação correta é essencial 
            para reduzir a poluição e 
            promover a sustentabilidade!</p>
    </div>

    <div class="finall">
        <div class="butaoo"><a href="/views/missoes.html"><img src="/img/botao_voltarparasmissoes.png" class="butao"></a></div>
    </div>

</body>
</html>